.about {
  padding: 36px 0px;
  &__wrapper {
    .subtitle-2 {
      margin-bottom: 26px;
    }
    .wrap {
      width: 70%;
      margin: 0 auto;

      @include media('screen', '>md', '<lg') {
        width: 80%;
      }
      @include media('screen', '<md') {
        width: 90%;
      }
    }
  }
}
