div.colors {
  display: flex;
  margin-bottom: 5px;
}
.div:not(:last-child) {
  width: 80px;
  height: 80px;
}
.div:not(:last-child) {
  margin-right: 5px;
}
.div-1 {
  background: $color_1;
}
.div-2 {
  background: $color_2;
}
.div-3 {
  background: $color_3;
}
.div-4 {
  background: $color_4;
}
.div-5 {
  background: $color_5;
}
.div-6 {
  background: $color_6;
}
.div-7 {
  background: $color_7;
}
.div-8 {
  background: $color_8;
}
.div-9 {
  background: $color_9;
}
.div-10 {
  background: $color_10;
}
.div-11 {
  background: $color_11;
}
.div-12 {
  background-color: $swatch_1;
}
.div-13 {
  background-color: $swatch_2;
}
.div-14 {
  background-color: $swatch_3;
}
.div-15 {
  background-color: $swatch_4;
}
.div-16 {
  background-color: $swatch_5;
}
.div-17 {
  background-color: $swatch_6;
}
.div-18 {
  background-color: $swatch_7;
}
.div-19 {
  background-color: $swatch_8;
}
.div-20 {
  background-color: $swatch_9;
}
.div-21 {
  background-color: $swatch_10;
}
.div-22 {
  background-color: $swatch_11;
}
