// Colors
$swatch_1: #eaf9fa;
$swatch_2: #606061;
$swatch_3: #d3c8c0;
$swatch_4: #4b3833;
$swatch_5: #1c1817;
$swatch_6: #93746f;
$swatch_7: #fdf7f2;
$swatch_8: #9fa0a3;
$swatch_9: #f3f5f7;
$swatch_10: #aeb0dd;
$swatch_11: #fbf9fe;
$swatch_12: #cccccc;

//
$color_1: #fafbfb;
$color_2: #2b282d;
$color_3: #cfdedf;
$color_4: #9c9d9f;
$color_5: #906159;
$color_6: #e2c5ad;
$color_7: #cbac9f;
$color_8: #b6935b;
$color_9: #5d5ba9;
$color_10: #4cbdc5;
$color_11: #cccccc;

// Fonts
$font-family-regular: 'Circular Std Book', 'Segoe UI', Tahoma, Geneva, Verdana,
  sans-serif;
$font-family-bold: 'Circular Std', 'Segoe UI', Tahoma, Geneva, Verdana,
  sans-serif;

// Font sizes
$XXSmallFontSize: 0.5rem; // 8px
$XSmallFontSize: 0.875rem; // 14px
$SmallFontSize: 1.0625rem; // 17px
$MediumFontSize: 1.125rem; // 18px
$LargeFontSize: 1.5rem; // 24px
$XLargeFontSize: 2.25rem; // 36px
$XXLargeFontSize: 2.5rem; // 40px
$XXXLargeFontSize: 3.625rem; // 58px
